name: Build and Test

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Build
      run: cd pallet && cargo build --verbose
    - name: Run tests
      run: cd pallet && cargo test --verbose
    - name: Node
      run: cd s-node && make build --release
